/**
 * 全体汎用スタイル - 一方向並びのレイアウトはフレックスボックス(Flexbox)
*/

@use "../../base/setting" as s;

.geFlexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 32%;
    height: 0;
  }
  &::before {
    order: 1;
  }
  &.-center {
    justify-content: center;
  }
  &.-card-app {
    width: 90vw;
    max-width: 100rem;
  }
}
