/**
 * 全体汎用スタイル - ページネーション一式(リスト)
*/

@use "../../base/setting" as s;

.gePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  @include s.mq(tb-dth) {
    max-width: 50rem;
    margin: 1.5rem auto auto;
  }
  @include s.mq(sp) {
    max-width: 80vw;
    margin: 2rem auto auto;
  }
  > li:not(:first-child) {
    @include s.mq(tb-dth) {
      margin-left: 2rem;
    }
    @include s.mq(sp) {
      margin-left: 1rem;
    }
  }
  & .link,
  & .current {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: var(--font-size-d);
    @include s.mq(tb-dth) {
      padding: 0.6rem 0.8rem;
    }
    @include s.mq(sp) {
      padding: 0.3rem 0.4rem;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 1.55rem 1.1rem;
      transform: translate(-50%, -50%) rotate(18deg);
      border-radius: 48.5%;
      z-index: -1;
    }
  }
  & .link {
    color: var(--text-dark-color);
    text-decoration: underline;
    @include s.mq(dt) {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &::after {
      background-color: var(--white);
    }
  }
  & .current {
    color: var(--white);
    background-color: var(--text-normal-color);
    width: 1rem;
    height: 1rem;
    &::after {
      background-color: var(--text-normal-color);
    }
  }
  + .startLink {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    @include s.mq(dt) {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
