/**
 * 全体汎用スタイル - 目次パーツ
*/

@use "../../base/setting" as s;

.geTocContainer {
  padding: 0.5rem 2rem;
  border: 1px dotted var(--line-color);
  text-align: center;
  @include s.mq(dt) {
    width: 30rem;
    margin: 1.5rem auto 2rem;
  }
  @include s.mq(sp-tb) {
    width: 90%;
    margin: 1rem auto 1.5rem;
  }
}
.geTocTitle {
  display: block;
  font-weight: bold;
}
.geTocOpen {
  display: inline-block;
  font-family: var(--sentence-font);
  @include s.mq(sp) {
    font-size: var(--font-size-b);
  }
  & summary {
    cursor: pointer;
  }
  & .summary-text {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
.geToc {
  list-style-type: disc;
  > li {
    margin-top: 0.5rem;
    margin-left: 1.4em;
    text-align: left;
  }
}
.geTocAnchorLink {
  text-decoration: underline;
  font-family: var(--sentence-font);
  @include s.mq(tb-dth) {
    &:hover {
      text-decoration: none;
    }
  }
  @include s.mq(sp) {
    padding-top: 0.4rem;
  }
}
